@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=League+Gothic&family=Roboto+Slab:wght@100&family=Roboto:wght@100&display=swap');

* {
    --main-color: #4995A7;
    --text-color: #2b323b;
    --second-color: crimson;
    --bg-color: #eee;
    --dark-color: #236778;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*=====================Bootstrap Mobile Gutter Fix======*/
.row,
.container-fluid {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*=====================Start Media Queries======================*/
@media screen and (min-width: 1800px) {
    .request-container img {
        padding-top: 30px;
    }
}

@media screen and (min-width: 1400px) {
    .carousel-caption {
        bottom: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .carousel-caption h2 {
        font-size: 2.8rem;
        letter-spacing: .1rem;
    }

    .carousel-caption p {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 991px)and (max-width:1260px) {
    .footer-widget .social-media a {
        font-size: 20px;
        padding: 0 20px;
    }

    .footer-widget .footer-widget-btn {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 991px) {
    .carousel-caption h2 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1.2rem;
    }

    .text-container h3 {
        font-size: 2rem;
    }

    .text-container h4 {
        font-size: 1.3rem;
    }

    .text-lists ul {
        padding-left: 0;
    }

    .local-property-card-section {
        margin-top: 0;
    }

    .local-property-card-section h1 {
        padding-left: 0;
        text-align: center;
    }

    .local-property-card-section p {
        padding-left: 0;
        text-align: center;
        padding: 5px;
    }

    #resent-property-section {
        margin-top: 0;
    }

    .footer ul li {
        padding: 10px 0;
    }

    .three-col-header h2 {
        font-size: 30px;
    }

}

@media only screen and (max-width: 767px) {
    .local-property-card-section .content .box {
        margin: 0;
    }

    .local-property-card-section .text-right a {
        padding-bottom: 20px;
    }

    .three-col-header h2 {
        font-size: 25px;
    }
}