@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    --main-color: #4995A7;
    --text-color: #2b323b;
    --second-color: crimson;
    --bg-color: #eee;
    --dark-color: #236778;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}