/*=============================Satrt Hero Section=================*/
.img-container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
}

.image-caption {
    position: absolute;
    color: #fff;
}

.image-caption h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

/*==============================Start Info Section=================*/
.info {
    background: var(--bg-color);
    padding-top: 80px;
    padding-bottom: 80px;
    margin: -3% auto 20px auto;
    z-index: -1;
}

.white-bg {
    background: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.info h1 {
    font-size: 30px;
    color: var(--main-color);
}

.info p,
li {
    padding-top: 10px;
    color: var(--text-color);
    font-size: 18px;
}

/*=====================================Start Team Section========================*/
.team h1 {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 36px;
}

.team {
    background-color: white;
}

.card {
    background: var(--bg-color);
    border: none;

}

.card img {
    margin-top: -5%;
    border: 3px solid var(--main-color);
}

.card-front p {
    padding: 20px 0;
}

.card-front i {
    font-size: 100px;
    padding: 25px 0;
    color: var(--main-color);
}

.card-back i {
    font-size: 26px;
    color: var(--main-color);
}

.card-back h3 {
    padding-top: 20px;
}

.card-back p {
    padding: 0 10px;
    color: black;
}

.card-wrapper:hover .card-back {
    transform: rotateY(0deg);
}

.card-wrapper:hover .card-front {
    transform: rotateY(180deg);
}

.card-body {
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    padding: 0;
    margin-bottom: 30px;
}

.card-front {
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    color: var(--text-color);
    height: 680px;
    background: var(--bg-color);
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    transform: rotateY(-180deg);
    color: var(--text-color);
    height: 680px;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}


/*====================================Start Three Column Section=======================*/
.three-coloumn-sec {
    background: var(--bg-color);
}

.footer ul li {
    padding-top: 0;
}



/*=====================Start Media Queries======================*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .card-front h2 {
        font-size: 26px;
    }

    .card-front h3 {
        font-size: 20px;
    }

    .card-front h4 {
        font-size: 17px;
    }

    .card-front .border-danger {
        width: 200px !important;
    }

    .team {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .image-caption h1 {
        font-size: 30px;
    }
}