.features {
    width: 100%;
    height: auto;
    margin-top: 100px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .8);
    position: relative;
}

.features-content {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.features .features-box i {
    color: var(--second-color);
    padding-left: 120px;
    padding-top: 40px;
}

.features-text {
    color: #fff;
}

.features-h4 {
    color: #fff;
}

/*-----------Request Section------------*/
.request-container {
    width: 80%;
    height: auto;
    background-color: var(--bg-color);
    border-radius: 0px 0 50px 50px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .2);
    margin: -3% auto 20px auto;
    align-items: center;
    padding-bottom: 30px;
    z-index: -1;
}

.requet-content h2 {
    padding-top: 100px;
}

.form-header-h1 {
    padding-top: 100px;
}

.form-header-p {
    padding-top: 30px;
}

.border-danger {
    width: 250px !important;
}

.form-group label {
    padding-top: 10px;
}

.submit-btn {
    border: none;
    background: none;
    color: var(--text-color);
}

.submit-btn:hover {
    color: #fff;
}
