/*========================Satrt Hero Section====================*/
.img-container img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.image-caption {
    position: absolute;
    color: #fff;
}

.image-caption h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

/*==========================Start Modal Section=====================*/
.contact-header {
    background: var(--bg-color);
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.gray-bg {
    background: #343239;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    border-radius: 30px 0px 30px 0px;
}

.gray-bg h1,
.lead {
    color: #fff;
}

.border-top .border-costum {
    border-top: 1px solid var(--main-color) !important;
    width: 80%;
}

.contact-btn {
    border: 1px solid var(--main-color);
    box-shadow: none;
    border-radius: 30px 0 30px 0;
    background: none;
    padding: 10px 60px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-color);
    transition: .8s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.contact-btn:hover,
.contact-btn:focus {
    color: #fff;
}

.contact-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--main-color);
    z-index: -1;
    transition: .8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.contact-btn:hover:before {
    height: 180%;
}


.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header .close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-group .form-control {
    padding: .375rem 2rem !important;
}

.form-group i {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    color: var(--text-color);
}

.contact-header .white-bg {
    background: #fff;
    padding: 100px 0;
    border-radius: 0px 30px 0px 30px;
}

.contact-header .white-bg p {
    color: var(--text-color);
    padding: 0 30px;
}

/*==================================Start Advise Section======================*/
.advice-header {
    background: var(--bg-color);
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:white !important;
}

.advice-header h1 {
    color: var(--main-color);
    font-size: 30px;
}


/*=====================Start Media Queries======================*/
@media only screen and (max-width: 991px) {
    .contact-btn {
        margin-top: 40px;
    }

    .advice-text .border-top {
        margin-left: 40px;
    }

    .advice-text h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .image-caption h1 {
        font-size: 30px;
    }

    .gray-bg h1 {
        font-size: 25px;
    }

    .advice-text {
        text-align: center;
    }

    .advice-text .border-top {
        margin-left: 20px;
    }

    .contact-btn {
        margin-top: 0px;
    }
}