
/*==================================Start Hero Section=================================*/
.carousel-caption h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
}

.carousel-item p {
    font-size: 1.8rem;
}

.text-container {
    width: 80%;
    height: auto;
    background-color: #fff;
    border-radius: 50px 0 50px 0;
    box-shadow: 2px 2px 12px rgba(0,0,0,.2);
    margin: -3% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}
    
.text-container h3 {
    font-family: 'Anton', sans-serif;
    color: var(--main-color);
    letter-spacing: .2rem;
    font-size: 3rem;
}

.text-container h4 {
    color: var(--text-color);
}

.text-lists ul {
    list-style-type: none;
}

.text-lists ul li {
    font-size: 18px;
    color: var(--text-color);
    padding-left: 2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.text-lists li i {
    color: var(--second-color);
    font-size: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.text-container span {
    font-size: 40px;
}

