.footer-widget {
    background: #343239;
    margin-top: 10px;
}

.footer-widget-border {
    background: none;
    border-top: 1px solid var(--main-color);
    margin-top: 100px;
}

.footer-widget-text{
    color: #fff;
}

.footer-widget .social-media a{
    padding: 0 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.footer-widget .social-media a:hover {
    color: var(--main-color);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.footer-widget .footer-widget-btn {
    border: 1px solid var(--main-color);
    box-shadow: none;
    border-radius: 30px 0 30px 0;
    background: none;
    padding: 10px 60px;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-color);
    transition: .8s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.footer-widget .footer-widget-btn:hover,
.footer-widget .footer-widget-btn:focus {
    color: #fff;
}

.footer-widget .footer-widget-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--main-color);
    z-index: -1;
    transition: .8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.footer-widget .footer-widget-btn:hover:before {
    height: 180%;
}

.footer-widget-green-border {
    background: none;
    border-top: 1px solid #fff
}

.footer-widget-green-bg {
    background: var(--main-color);
    color: #fff;
    padding: 40px 0;
}
