.three-col-header h2 {
    font-size: 40px;
}

.what-we-do a {
    text-decoration: none;
    color: var(--text-color);
}

.what-we-do img {
    border-radius: 50px 0 50px 0;
}

.what-we-do > div:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}